<p class="sub-group">Kosha</p>
{% include "layouts/_sub_link.html" with to="base_currency" icon="coins" label="Base currency" %}
{% include "layouts/_sub_link.html" with to="history" icon="history" label="History" %}
<p class="sub-group">Security</p>
{% include "layouts/_sub_link.html" with to="security" icon="fingerprint" label="Signing in" also="password new_authenticator new_recovery_codes" %}
{% include "layouts/_sub_link.html" with to="sessions" icon="monitor-smartphone" label="Sessions" %}
{% include "layouts/_sub_link.html" with to="security_log" icon="scroll-text" label="Security log" %}
