<p class="sub-group">Accounts</p>
{% include "layouts/_sub_link.html" with to="masters:assets" icon="wallet" label="Assets" also="masters:asset masters:new_asset masters:edit_asset" %}
{% include "layouts/_sub_link.html" with to="masters:liabilities" icon="scale" label="Liabilities" also="masters:liability masters:new_liability masters:edit_liability" %}
{% include "layouts/_sub_link.html" with to="masters:income" icon="arrow-down-left" label="Income" also="masters:income_account masters:new_income_account masters:edit_income_account" %}
{% include "layouts/_sub_link.html" with to="masters:expenses" icon="arrow-up-right" label="Expenses" also="masters:expense_account masters:new_expense_account masters:edit_expense_account" %}
<p class="sub-group">Classification</p>
{% include "layouts/_sub_link.html" with to="masters:categories" icon="shapes" label="Categories" %}
{% include "layouts/_sub_link.html" with to="masters:tags" icon="tag" label="Tags" %}
