{% extends "layouts/settings_page.html" %}
{% block title %}Password · Kosha{% endblock %}
{% block back %}{% include "layouts/_back.html" with to="security" label="Signing in" always=True %}{% endblock %}
{% block main %}
    <header class="head">
        <h1 class="title">Password</h1>
        <p class="lede">It signs you in only together with a code from the authenticator app. Changing it signs out every other device.</p>
    </header>
    <form method="post">
        {% csrf_token %}
        <div class="group">
            <label class="cell">
                <span class="cell-label">New password</span>
                <input class="cell-input" type="password" name="new_password1" autocomplete="new-password" required autofocus>
                {% include "signin/_errors.html" with field=form.new_password1 %}
            </label>
            <label class="cell">
                <span class="cell-label">New password again</span>
                <input class="cell-input" type="password" name="new_password2" autocomplete="new-password" required>
                {% include "signin/_errors.html" with field=form.new_password2 %}
            </label>
        </div>
        <div class="actions"><button class="btn">Change password</button></div>
    </form>
{% endblock %}
